

.category-list-item {
    border: 1px solid #BFCB57;
    margin: 4px;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #D7DF7C;
    font-size: 20px;
}

.category-list-sub-item{
    margin: 4px 4px 4px 40px;
    border-radius: 4px;
    padding: 5px;
    background-color: #D7DF7C;
    font-size: 20px;
}

.category-name {
    padding: 10px 0;
    display: inline-block;
}

.categoryBtn {
    display: inline-block;
}

.modal {
    width: 100%;
}

.modalCaption {
    margin: 10px;
    width: 100%;
    text-align: center;
}
.modalBody {
    margin: 10px;
}

.modalItem {
    width: 400px;
    height: auto;
    margin: 0 auto;
    border: none;
    text-align: center;
}

.modalFooter {
    padding: 10px 15px;
    margin: 20px 0px;
    text-align: right;
}