.button {
    border-radius: 10px;
    border: 2px solid #817D56;
    background-color: #BBB372;
}

.button:hover {
    background-color: #E8CB3B;
    transition: 1s;
    box-shadow:  0 0 0 1px silver,
   0 -20px 0 -10px coral,
   20px 0 0 -10px darkturquoise,
   0 20px 0 -10px gold,
   -20px 0 0 -10px chartreuse;
}

.danger {
    background-color: #DD584B;
}

.edit {
    background-color: #CBC14D;
}

.delete {
    background-color: #BE3F09;
}