

.category-list-item {
    border: 1px solid #BFCB57;
    margin: 4px;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #D7DF7C;
    font-size: 20px;
}

.category-list-sub-item{
    border: 1px solid #BFCB57;
    margin: 4px 4px 4px 40px;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #D7DF7C;
    font-size: 20px;
}

.category-name {
    text-align: center;
    padding: 10px 0;
}